In [35]:
import pandas as pd
import matplotlib.pyplot as plt

In [36]:
df = pd.read_csv('data/BTC-USD.csv')
df = df[[ 'Date', 'Open', 'High', 'Low', 'Volume', 'Adj Close', 'Close']]
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2788 entries, 0 to 2787
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2788 non-null   object
 1   Open       2788 non-null   float64
 2   High       2788 non-null   float64
 3   Low        2788 non-null   float64
 4   Volume     2788 non-null   int64
 5   Adj Close  2788 non-null   float64
 6   Close      2788 non-null   float64
dtypes: float64(5), int64(1), object(1)
memory usage: 152.6+ KB

In [37]:
df['Date'] = pd.to_datetime(df['Date'])

# Extract year, month, and day
df['Year'] = df['Date'].dt.year
df['Month'] = df['Date'].dt.month
df['Day'] = df['Date'].dt.day

df.drop(columns=['Date'], inplace=True)

In [38]:
df.head()

,Open,High,Low,Volume,Adj Close,Close,Year,Month,Day
0,465.864014,468.174011,452.421997,21056800,457.334015,457.334015,2014,9,17
1,456.859985,456.859985,413.104004,34483200,424.440002,424.440002,2014,9,18
2,424.102997,427.834991,384.532013,37919700,394.795990,394.795990,2014,9,19
3,394.673004,423.295990,389.882996,36863600,408.903992,408.903992,2014,9,20
4,408.084991,412.425995,393.181000,26580100,398.821014,398.821014,2014,9,21

In [39]:
# fig, ax = plt.subplots(figsize=(20,6))
# ax.plot(df["Year"], df['High'], label='High')
# ax.plot(df["Year"], df['Low'], label='Low')
# ax.plot(df["Year"], df['Close'], label='Close')
# 
# ax.set_title('BTC-USD')
# ax.set_xlabel('Year')
# ax.set_ylabel('Price') 
# ax.legend()
# plt.show()

In [40]:
from sklearn.preprocessing import StandardScaler
X = df.drop(['Close'], axis=1)
y = df['Close']

scaler = StandardScaler()

scaled_df = scaler.fit_transform(df)

In [41]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score

scaled_df = pd.DataFrame(scaler.transform(df), columns=df.columns)

X = scaled_df.drop("Close", axis=1)
y = scaled_df["Close"]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=7)

model = LinearRegression()

model.fit(X_train, y_train)

y_pred_test = model.predict(X_test)
y_pred_train = model.predict(X_train)

train_score = model.score(X_train, y_train)
test_score = model.score(X_test, y_test)
print("Training score:", train_score)
print("Testing score:", test_score)

Training score: 1.0
Testing score: 1.0